<div id="pagetitle" class="about-title">
  <h1>
    About CIVCON
  </h1>
</div>

<div class="container">
  <h2 class="text-center">より多くの製品をより簡単に</h2>
  <p class="text-center">
    CIVCONには各メーカーのコンクリート製品が集まります。
    製品情報の閲覧、図面データのダウンロード、メーカーへの見積依頼を行うことができます。<br>
    図面データのダウンロード、見積依頼は
    <%= link_to "ログイン", new_user_session_path %>
    が必要になります。
  </p>
</div>