<div class="nested-fields mb-2">
  <div class="row">
    <div class="col-auto">
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="col-auto">
      <%= link_to_remove_association "寸法を削除", f, class: "btn btn-danger" %>
    </div>
  </div>
</div>