<h1>製品一覧</h1>
<table>
  <thead>
    <tr>
      <th>製品名</th>
      <th>製品タイプ</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.name, product_path(product.id) %></td>
        <td><%= product.type.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>